canvas {
	margin: 0px;
}

html,
body {
	margin: 0;
}

.menu {
	margin: 10px 10px;
	display: flex;	
	align-items: center;
}

.menu_item {
	margin: 0px 4px;
}

.menu_label {
	color: #bab5b5;
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
	display: inline-block;
}

.menu_slider {
  width: 100px; 
  height: 10px; 
  background: #d9d4d4; 
  opacity: 0.7;
  transition: opacity .2s;
}

.menu_slider:hover {
  opacity: 1; 
}

.menu_slider::-moz-range-thumb {
  width: 10px; 
  height: 10px; 
  border: 0px;
  border-radius: 2px;
  background: #768d87; 
  cursor: pointer; 
}